.header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.header_inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;  /* 왼쪽-오른쪽 분리 */
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 150px;
  height: auto;
  display: block;
}

.header_right {
  display: flex;
  gap: 10px;
}

.header_right button {
  padding: 5px 13px;
  border-radius: 4px;
  border-color: #ddd;
  background-color: white;
  cursor: pointer;
  
}